# My final project for EPSY 5122!!
## Aspen Holm
## Fall 2022

#### the goal is to take all the relevant data from the raw file (ant1_session1.csv) and upload them to a new dataframe with columns giving info on left probability, right probability, choice chosen (left = 1, right = 2), rewarded (no = 0, yes = 1), and timestamp

In [1]:
# libraries! yay!

import numpy as np
import pandas as pd

In [2]:
# start by grabbing the raw csv file! woot!
# but not the first few rows of garbage from ABET, gross

raw_csv = "/Users/aspenholm/EPSY5122/FinalProject/ant1_session1.csv"
ant1_raw = pd.read_csv(raw_csv, skiprows = 17)
print(ant1_raw.keys())

Index(['Evnt_Time', 'Evnt_ID', 'Evnt_Name', 'Item_Name', 'Alias_Name',
       'Group_ID', 'Num_Args', 'Arg1_Name', 'Arg1_Value', 'Arg2_Name',
       'Arg2_Value', 'Arg3_Name', 'Arg3_Value', 'Arg4_Name', 'Arg4_Value',
       'Arg5_Name', 'Arg5_Value'],
      dtype='object')

In [3]:
# now, let's make some empty lists for each of our columns that we'll need in the new df!
# we will fill these lists with info in a second...
# let's also define some variables for specific columns from the OG df to make it easier

timestamp = []
right_prob = []
left_prob = []
choice = []
rewarded = []
x_coord = []
y_coord = []
Item_Name = ant1_raw.loc[:, "Item_Name"]
Evnt_Name = ant1_raw.loc[:, "Evnt_Name"]
Evnt_Time = ant1_raw.loc[:, "Evnt_Time"]
Arg1_Value = ant1_raw.loc[:, "Arg1_Value"]
Arg3_Value = ant1_raw.loc[:, "Arg3_Value"]
Arg4_Value = ant1_raw.loc[:, "Arg4_Value"]

In [4]:
# now let's make a big ole for loop containing allll the info we want for the new df
# I'm grabbing info from the columns in ant1_raw and then appending them to the empty lists

for i in range(len(Item_Name)):
    if Item_Name[i] == "Reward_value_R":
        timestamp.append(Evnt_Time[i])
    if Item_Name[i] == "Reward_value_R":
        right_prob.append(Arg1_Value[i])
    if Item_Name[i] == "Reward_value_L":
        left_prob.append(Arg1_Value[i])
    if Item_Name[i] == "R side touched_ no reward" or Item_Name[i] == "R side touched_ reward":
        choice.append(2)
    if Item_Name[i] == "L side touched_ no reward" or Item_Name[i] == "L side touched_ reward":
        choice.append(1)
    if Item_Name[i] == "R side touched_ no reward" or Item_Name[i] == "L side touched_ no reward":
        rewarded.append(0)
    if Item_Name[i] == "L side touched_ reward" or Item_Name[i] == "R side touched_ reward":
        rewarded.append(1)
    if Evnt_Name[i] == "Touch Down Event":
        x_coord.append(Arg3_Value[i])
        y_coord.append(Arg4_Value[i])

In [5]:
# because ABET is weird, the lists aren't quite the same length
# the first and last values for left and right prob, and consequently timestamp, are not important
# soooo let's get rid of them!

del left_prob[0]
del left_prob[-1]
del right_prob[0]
del right_prob[-1]
del timestamp[0]
del timestamp[-1]

In [6]:
# now let's check that the lengths for our future columns are all the same for when we create our df

print(len(choice))
print(len(left_prob))
print(len(timestamp))
print(len(right_prob))
print(len(rewarded))
print(len(x_coord))
print(len(y_coord))

300
300
300
300
300
366
366

In [7]:
# let's name and create our new df
# we'll leave it empty for now and then create our columns in a sec

ant1_new = pd.DataFrame()

In [8]:
# now let's define our columns and grab the values from our lists

ant1_new["timestamp"] = timestamp
ant1_new["right_probability"] = right_prob
ant1_new["left_probability"] = left_prob
ant1_new["choice"] = choice
ant1_new["rewarded"] = rewarded

In [9]:
# check that the new df looks normal...
# success is mine!!!

ant1_new

     timestamp  right_probability  left_probability  choice  rewarded
0        2.387               60.0              50.0       1         0
1        9.579               60.0              50.0       2         1
2       15.084               60.0              50.0       1         0
3       23.712               60.0              50.0       2         0
4       29.697               60.0              50.0       1         1
..         ...                ...               ...     ...       ...
295   2372.671               40.0              50.0       2         1
296   2377.373               40.0              50.0       2         1
297   2384.207               40.0              50.0       2         1
298   2389.245               40.0              50.0       2         1
299   2394.565               40.0              50.0       2         1

[300 rows x 5 columns]

In [10]:
# now we just send our df over to a csv
# so exciting!

ant1_new.to_csv("ant1_new.csv")

## some issues I ran into...

### I wasn't really sure how to start this project. I knew at some point I would need to somehow get the data from the raw file into the new file, but I wasn't sure how to do that at first. after quite a bit of trial and error (and some very helpful resources such as stack overflow, geeks for geeks, and others), I figured out a rough outline of what I wanted to do! I found that making an outline for my code, the same way that you would make an outline for an essay, really helped me organize my thoughts
### weirdly, I ran into a lot of trouble getting my timestamp column to work. honestly, it was just a tonnnn of trial and error before I finally did something and realized oh! it worked! cool! I think what I was doing wrong at first was I was basically trying to just directly copy the timestamp column from the raw file, not realizing that this list would be wayyyy longer than the others because every single event had a timestamp
### the next big problem I ran into was I had a really hard time figuring out how to grab the data from the columns in the raw file. I kept getting weird key errors that didn't make any sense to me :( so finally, I decided to try making variables for the columns, and that worked! python is weird.
### when I finally filled in my lists with all the data I needed, I noticed not all the lists were the same length, which was super confusing and frustrating to me. so I went into the raw csv and looked closely and it turned out that the first and last value of the left and right prob columns weren't supposed to be there, so I just deleted them, easy peasy
### next, I'd like to try to adapt this to read in any csv file and grab the data in the same way and send them to a new csv file. also, I want to try grabbing the x and y coordinate data, since this relates to the project I'm working on. although it seems reallllly complitcated, so we'll see if I figure it out
### all in all this went a lot better than I was expecting and I learned a lot that will definitely be useful in my own personal research going forward!